/* regole generali di pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole body */

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

/* regole header */

header {
    background-color: white;
    width: 100%;
    /*position: fixed;*/
    height: 70px;
    z-index: 10;
}

.left-side-header {
    width: 30%;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

ul {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.right-side-header {
    width: 30%;
    margin-left: 700px;
}

li {
    margin-left: 20px;
}

li img {
    width: 80px;
    height: 20px;
}

a {
    text-decoration: none;
}

/* regole contenuto principale */

main {
  /*  margin-top: 70px; */
}

.jumbotron-container {
    display: flex;
    justify-content: center;
    background-color: skyblue;
    width: 100%;
    padding: 30px;
    margin-bottom: 60px;
}

.jumbotron {
    width: 60%;
    height: 500px;
    background-color: red;
}

h1 {
    font-size: 48px;
}

hr {
    border: 1px solid rgb(227, 220, 220);
}

.container {
    width: 60%;
    margin: 0 auto;
}

.columns-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-color: white;
    padding: 30px;
}

h2 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue-circle {
    color: rgb(34, 118, 236);
}

.columns {
    width: 30%;
    height: 900px;
    background-color: red;
    margin: 5px;
}


/* regole footer */